#prompt-container {
  font-family: 'Archivo', sans-serif;
  text-rendering: optimizeLegibility;
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 3px;
}

.keyboard-container {
  margin-top: 135px;
}

#target-letter {
  font-size: 38px;  
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
}

#feedback {
  overflow-wrap:  break-word;
  width: 100%;
  font-size: 20px;
}
.glyphicon-ok {
  color: #1DA237
}

.glyphicon-remove {
  color : #CD2626
}

.well-lg{
  padding: 14px;
}

.keys-row {
  margin-top: 20px;
  padding: 10px 0;
}

#space{
  margin:20px 23%;
}

#highlight{
  background-color: #f5b5d3f5;
}

kbd{
  background-color: #f5b5d3f5;
  font-family: 'archivoregular', sans-serif;
  border: transparent;
  color: black;
  padding: 10px;
  font-size: x-large;
}

#target{
  margin-top: 20px;
  padding-top: 20px ;
  border-top:1px solid black ;
  width: fit-content;
  border-bottom:1px solid black ;
}
