@font-face {
    font-family: 'archivoregular';
    src: url('archivo-regular-webfont.woff2') format('woff2'),
         url('archivo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}